<ion-view title="Profile" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="profile-card23">
      <ion-item class="item-avatar" id="profile-list-item25">
        <img id="myavatar" src="img/wmiAeDcQxKzF3QSGuOtT_Snimkaobrazovky2017-02-03o12.25.19.png">
        
        <div class="informations">
          <div id="myitem1" class="myitems"><p><span>74</span></p> <p>posts</p></div>
          <div class="myitems"><p><span>144</span></p> <p>followers</p></div>
          <div class="myitems"><p><span>138</span></p> <p>following</p></div>       
        </div>
      </ion-item>
      <form id="profile-form4" class="list">
        <label class="item item-input" id="profile-textarea1">
          <span class="input-label">Username</span><button id="follow">Follow</button></label>
      </form>
      <div class="item item-body" id="profile-list-item-container6">
        <button id="profile-button35" class="button button-light"><i class="fa fa-th" aria-hidden="true"></i></button>
        <button id="profile-button36" class="button button-light"><i class="fa fa-list" aria-hidden="true"></i></button>
        <button id="profile-button37" class="button button-light"><i class="fa fa-tags" aria-hidden="true"></i>
</button>
      </div>
    </div>
  <div class="allimgs">  
    <div class="imgs">
      <i></i>
    </div>
    <div class="imgs">
      <i></i>
    </div>
    <div class="imgs">
      <i></i>
    </div>
    <div class="imgs">
      <i></i>
    </div>
    <div class="imgs">
      <i></i>
    </div>
    <div class="imgs">
      <i></i>
    </div> 
  </div>
  </ion-content>
</ion-view>