<ion-view title="Search" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="search-form3" class="list">
      <label class="item item-input" id="search-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div id="search-button-bar4" class="button-bar">
      <button id="search-button28" style="font-size:12px;" class="button button-light  button-block">People</button>
      <button id="search-button29" style="font-size:12px;" class="button button-light  button-block">Tags</button>
      <button id="search-button30" style="font-size:12px;" class="button button-light  button-block">Places</button>
    </div>
  </ion-content>
</ion-view>