/* Empty. Add your own CSS if you like */

#myavatar{
	max-width: 55px;
    max-height: 55px;

}

#profile-list-item25{

}

.myimg{
	font-size: 64px;
	color: rgb(136, 136, 136);
	vertical-align: middle;
}

/*---------------------PROFILE----------------------------*/

/*----POSTS---FOLLOWS----FOLLOWERS----*/
div.informations{
	display: block;
	width: 100%;
	height: 10vw;
	padding-left: 20%;
	font-size: 12px;
}

.informations .myitems p{
	font-size: 10px;
}

.myitems{
	width: 25%;
	float: left;
    text-align: center;
}

#myitem1{
	padding-left: 14px;
}

#follow{
	margin: 0 0 0 9%;
	width: 125px;
	border: 1px solid #6969c5;
	border-radius: 2px;
	background: #6969c5;
	color: white;


}

/*---------------MENU-----------------*/
#profile-list-item-container6{
	margin: 0;
    padding: 0 12px;
    width: 100%;	
	position: relative;
    display: inline-block;
    
    min-height: 16px;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;

	color: black;
}



div .allimgs{
	position: static;
	width: 100%;
	height: auto;
	margin: 0 1%;
}

.imgs{
	position: relative;
	margin: 0px;
	line-height: 250px;
	background-color: rgb(232, 235, 239);
	text-align: center;
	
	width: 31vw;
	height: 31vw;
	
    border: 1px solid white;
    float: left;
}

